@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.container-title {
    margin: 20px;
    height: 100px;
    display: flex;
    border-radius: 30px;
    background-color: #e0e4e8;
    -moz-box-shadow: 0 0 20px #333333;
    -webkit-box-shadow: 0 0 20px #333333;
    box-shadow: 0 0 20px #7b7b7b;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;
}

.container-title h1 {
    padding: 30px;
}

.container-title a {
    text-decoration: none;
    color: rgb(115, 115, 115);
    padding: 38px;
}

.container-title a:hover {
    text-decoration: underline;
}

.container-title img {
    border-radius: 30px;
    width: 90px;
    height: 70px;
    margin: 15px;
}


.nav {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    color: #333333;
    background-color: #e0e4e8;
    border-radius: 30px;
}

.container-home-uno {
    margin: 20px;
    height: 97vh;
    border-radius: 30px;
    background-color: #e0e4e8;
    -moz-box-shadow: 0 0 20px #333333;
    -webkit-box-shadow: 0 0 20px #333333;
    box-shadow: 0 0 20px #7b7b7b;
    display: flex;
    justify-content: space-around;
}

.container-home-uno .shop-home-uno {
    background-color: #7b7b7b;
    -moz-box-shadow: 0 0 20px #333333;
    -webkit-box-shadow: 0 0 20px #333333;
    box-shadow: 0 0 20px #7b7b7b;
    border-radius: 5px;
    height: 400px;
    width: 300px;
    margin: 50px;
}

.container-home-uno .shop-home-uno .title {
    color: aliceblue;
    font-family: 'Inter', sans-serif;
    margin: 20px;
    text-align: center;
}

.container-home-uno .shop-home-uno .image {
    display: flex;
    justify-content: center;
}

.container-home-uno .shop-home-uno .image img {
    width: 200px;
    border-radius: 100px;
    margin: 10px;
}

.container-home-uno .shop-home-uno .button {
    display: flex;
    justify-content: center;
}

.container-home-uno .shop-home-uno .button button {
    text-decoration: none;
    background-color: aqua;
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 5px;
    color: azure;
    width: 80%;
    height: 35px;
    text-align: center;
    justify-content: center;
}

.container-home-uno .shop-home-uno .button button:hover {
    height: 38px;
    width: 81%;
    cursor: pointer;
    background-color: rgb(0, 212, 212);
}

.container-home-due {
    margin: 20px;
    height: 97vh;
    border-radius: 30px;
    background-color: #e0e4e8;
    -moz-box-shadow: 0 0 20px #333333;
    -webkit-box-shadow: 0 0 20px #333333;
    box-shadow: 0 0 20px #7b7b7b;
    display: flex;
    justify-content: space-around;
}
.container-home-tre {
    margin: 20px;
    height: 97vh;
    border-radius: 30px;
    background-color: #e0e4e8;
    -moz-box-shadow: 0 0 20px #333333;
    -webkit-box-shadow: 0 0 20px #333333;
    box-shadow: 0 0 20px #7b7b7b;
    display: flex;
    justify-content: space-around;
}